.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color-block {
  background: black;
  height: 18px;
  width: 45px;
  display: inline-block;
  border: 1px solid black;
}

.color-block.input_data_color {
  background: #ffab00;
}

.color-block.experimental_data_color {
  background: #e040fb;
}

.color-block.output_data_color {
  background: #43a047;
}

.color-block.table_data_color {
  background: #01579b;
}

input.input_data_color {
  color: #ffab00 !important;
  font-weight: 500;
}

input.input_data_color:not(.browser-default):not(.invalid):not(.valid):not(:focus) {
  border-bottom: 1px solid #ffab00;
  -webkit-box-shadow: 0 1px 0 0 #ffab00;
          box-shadow: 0 1px 0 0 #ffab00;
}

input.input_data_color + label {
  color: #ffab00 !important;
  font-weight: 600;
}

input.experimental_data_color {
  color: #e040fb !important;
  font-weight: 500;
}

input.experimental_data_color:not(.browser-default):not(.invalid):not(.valid):not(:focus) {
  border-bottom: 1px solid #e040fb;
  -webkit-box-shadow: 0 1px 0 0 #e040fb;
          box-shadow: 0 1px 0 0 #e040fb;
}

input.experimental_data_color + label {
  color: #e040fb !important;
  font-weight: 600;
}

input.output_data_color {
  color: #43a047 !important;
  font-weight: 500;
}

input.output_data_color:not(.browser-default):not(.invalid):not(.valid):not(:focus) {
  border-bottom: 1px solid #43a047;
  -webkit-box-shadow: 0 1px 0 0 #43a047;
          box-shadow: 0 1px 0 0 #43a047;
}

input.output_data_color + label {
  color: #43a047 !important;
  font-weight: 600;
}

input.table_data_color {
  color: #01579b !important;
  font-weight: 500;
}

input.table_data_color:not(.browser-default):not(.invalid):not(.valid):not(:focus) {
  border-bottom: 1px solid #01579b;
  -webkit-box-shadow: 0 1px 0 0 #01579b;
          box-shadow: 0 1px 0 0 #01579b;
}

input.table_data_color + label {
  color: #01579b !important;
  font-weight: 600;
}

#section-c .valign-wrapper {
  min-height: 236px;
}

#section-d .valign-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 371px;
}

@media (max-width: 992px) {
  #section-d .valign-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

