@mixin not($ignorList...) {
  //if only a single value given
  @if (length($ignorList) == 1){
      //it is probably a list variable so set ignore list to the variable
      $ignorList: nth($ignorList,1);
  }
  //set up an empty $notOutput variable
  $notOutput: '';
  //for each item in the list
  @each $not in $ignorList {
      //generate a :not([ignored_item]) segment for each item in the ignore list and put them back to back
      $notOutput: $notOutput + ':not(#{$not})';
  }
  //output the full :not() rule including all ignored items
  &#{$notOutput} {
      @content;
  }
}

@mixin colorful_input($color) {
  color: $color !important;
  font-weight: 500;

  @include not('.browser-default', '.invalid', '.valid', ':focus'){ 
    border-bottom: 1px solid $color;
    box-shadow: 0 1px 0 0 $color;
  }
  &+label {
    color: $color !important;
    font-weight: 600;
  }
}
